footer{
    width: 100%;
    display: block;
    background-color: white;
    min-height: 45px;
    border-radius: 5px;
    padding: 18px;
    border-top: 1px solid lightgray;
}
h4{
    font-size: 12px;
    color: gray;
    font-family: Arial;
    font-weight: 100
}