<!-- Content Menu -->
<div class="content-view">
  <div id="aboutfitness" class="about-fitness">
    <div class="fitness-center">
      <h5>A word from our Creators</h5>
      <h1>ABOUT FITNESS</h1>
    </div>
  </div>
  <angular-image-slider [images]="imagesUrl"></angular-image-slider>
  <div id="benifits" class="benifits">
    <div class="about-benifits">
      <h5>We make it easy and affordable for you to stay fit and healthy</h5>
      <h1>BENIFITS</h1>
    </div>
    <div class="grids">
      <div class="gridbox">
        <div class="gridbox-header">
          <img src="../assets/dumble.png" alt="dumble" />
        </div>
        <div class="gridbox-divider">
          <h5>STATE OF ART EQUIPMENTS</h5>
          <hr>
        </div>
        <div class="gridbox-body">
          <p>Modern conveniences & functional spaces to help you gain more from workout</p>
        </div>
        <div class="gridbox-footer">
          <input class="btn" type="button" value="LEARN MORE" />
        </div>
      </div>
      <div class="gridbox">
        <div class="gridbox-header">
          <img src="../assets/wallet.png" alt="wallet" />
        </div>
        <div class="gridbox-divider">
          <h5>PAY PER USE</h5>
          <hr>
        </div>
        <div class="gridbox-body">
          <p>Pay only for the number of hours you workout in gym</p>
        </div>
        <div class="gridbox-footer">
          <input class="btn" type="button" value="LEARN MORE" />
        </div>
      </div>
      <div class="gridbox">
        <div class="gridbox-header">
          <img src="../assets/w.png" alt="w" />
        </div>
        <div class="gridbox-divider">
          <h5>CERTIFIED EXPERTS</h5>
          <hr>
        </div>
        <div class="gridbox-body">
          <p>Certified experts and trainers to
            help you achieve your fitness goals</p>
        </div>
        <div class="gridbox-footer">
          <input class="btn" type="button" value="LEARN MORE" />
        </div>
      </div>
    </div>
  </div>

  <div class="footer-navigation" id="contact">
    <ul class="contact-section">
      <li class="">
        <img src="../../assets/icon1.png" alt="facebook">
        <span> Lorem ipsum dolor sit amet</span>
      </li>
      <li>
        <img src="../../assets/icon2.png" alt="facebook">
        <span>+91 7977738835</span>
      </li>
      <li>
        <img src="../../assets/icon3.png" alt="facebook">
        <span> recomp@fitness.com</span>
      </li>
    </ul>
    <div class="social-section">
      <img src="../../assets/facebook.png" alt="facebook">
      <img src="../../assets/twitter.png" alt="twitter">
      <img src="../../assets/googleplus.png" alt="googleplus">
    </div>
    <div class="download-section">
      <img src="../../assets/googleplay.png" alt="playstore">
      <img src="../../assets/appstore.png" alt="appstore">
    </div>
  </div>
</div>
